* {
    margin: 0;
    /* зовнішні відступи для всіх блоків */
    padding: 1vh;
}

:root {
    --title_height: 15vh;
    --indents_for_containers: 1vh;
}

body {
    background-color: #1e1e1e;
    color: #ffffff;
}
.mainSide {
    display: grid;
    padding: 0;
    align-items: start;
    grid-template-columns: 20% 1fr;
}
.title_containers, aside {
    background-color: #404040;
    border-radius: 10px;
    display: grid;
    place-items: center;
}
.title_containers {
    font-size: 2em;
    font-style: italic;
    overflow: hidden;
}
aside {
    box-sizing: border-box;
    width: 100%;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

footer {
    clear: both;    
}

#My_resume_link {
    color: #ffffff;
}


#Photo {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10%;
    margin-bottom: 1vh;
    border-top: 1em solid rgba(255, 0, 0, 40%);
    border-bottom: 1em solid rgba(0, 0, 0, 40%);
}
/* кнопки */
.Inner_navigation {
    width: 100%;
    box-sizing: border-box;
    background-color: #5a5a5a;
    border-bottom: 0.5vh solid #404040;
}
.Inner_navigation {
    font-size: 2vw; 
}

#roundingTop {
    border-radius: 10px 10px 0 0;
}
#roundingBottom {
    border-radius: 0 0 10px 10px;
    border-bottom: 0;
}
main {
    background-color: #404040;
    box-sizing: border-box;
    border-radius: 10px;
    display: grid;
    margin-left: 1vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 2em;
}
#title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;

}
.link {
    text-decoration: none;
    color: #ffffff;
}
#Linux_photo {
    width: 20%;

}
#awards_and_titles_list {
    padding-left: 4vh;
}
@media (max-device-width: 1500px){
    .mainSide{
        grid-template-columns: 30% 1fr;
    }
}
@media (max-device-width: 1024px) {
    .mainSide {
        grid-template-columns: 1fr;
        gap: 0;
    }
    main {
        margin: 0;
        margin-bottom: 1vh;
    }
    #Photo {
        width: 10vw;
        grid-row: 1 / 5;
        justify-self: center;
    }
    .Inner_navigation {
        font-size: 3vw;
    }
    * {
        padding: 0.5vh;
    }
    aside {
        grid-template-columns: 1fr 1fr; 
    }
}
@media (max-device-width: 425px){
    aside {
        grid-template-columns: 1fr; 
    }
}


/* для меню навігації, щоб кнопки не виділялись на сенсорних екранах */
@media (pointer: fine) {
    .Inner_navigation:hover {
        background-color: #6a6a6a;
    }
}
@media (pointer: coarse) {
    .Inner_navigation:hover {
        background-color: #5a5a5a; 
    }
}