* {
    padding: 0px;
    margin: 0px;
}

body {
    background: rgb(30, 30, 30);
    color: white;
}

table {
    width: auto;
    margin: 10px auto;

}

td,
table {
    padding: 10px;
    border-spacing: 20px;
}

.cell {
    background-color: rgb(54, 52, 52);
}

.cell:hover {
    background: rgb(98, 97, 97) !important;
    transform: scale(1.1);
}

.cell:active {
    background: rgb(77, 75, 75);
    transform: scale(1.0);
}

#body_1,
#body_2,
#body_3 {
    width: 150px;
}

#head_2 {
    width: 300px;
}
@keyframes colorChange {
    0% {
        background-color: #156763;
    }
    50% {
        background-color:  rgb(54, 52, 52);
    }
    100% {
        background-color: #156763;
    }
}
#dody_4,
#dody_5 {
    animation: colorChange 2s infinite;
}